node_modules
dist
dist-ssr
.env
.env.local
.env.*.local
*.local
.DS_Store
npm-debug.log*
yarn-error.log*
.vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea
.vscode/*
!.vscode/extensions.json
